[Unit]
Description=Run Firewalld DNS IP sync periodically

[Timer]
# Wait 2 minutes after boot before first run
OnBootSec=2m
# Run every 6 hours
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
